<header>
  <div class="logoImg">

  </div>
  <div class="topBar">
    <h1 class="logoText">THE BAG LAB</h1>
  </div>

    <div class="container-fluid" style="float:right;">
      <ul class="nav navbar-nav" *ngIf="!isAuth()">
        <li><a [routerLink]="['register']">Sign Up</a></li>
        <li><a [routerLink]="['login']">Log In</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="isAuth()">
        <li><a (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
      </ul>
    </div>

  <div class="menuBar" >
    <div class="mainMenu" >
      <app-menu>loading...</app-menu>
    </div>
  </div>
</header>


<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer>

</footer>

