<div class="container">
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
    <a href="#">
      <img class="img-fluid center-block product-item"
           src="http://placehold.it/270x171" alt="">
    </a>
  </div>
  <!-- /.col -->
  <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
    <a href="#">
      <img class="img-fluid center-block product-item"
           src="http://placehold.it/270x171" alt="">
    </a>
  </div>
  <!-- /.col -->
 <!-- ...-->
  <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
    <a href="#">
      <img class="img-fluid center-block product-item"
           src="http://placehold.it/270x171" alt="">
    </a>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card">
      <img class="card-img-top center-block product-item"
           src="https://s-media-cache-ak0.pinimg.com/236x/78/b8/59/78b859d25bc129b07ad0a5047ca8f0d1.jpg" alt="Bag">
      <div class="card-block">
        <h4 class="card-title">Backpack</h4>
        <p class="card-text">The best Vintage Women Men Canvas Backpack Leather Trim Bag
          Rucksack Shoulder Bag
          and more.</p>
        <a href="#/products" class="btn btn-primary">Browse</a>
      </div>
    </div>
  </div>


</div>
<!-- /.container -->
