<!--<div class="container">
&lt;!&ndash; /.row &ndash;&gt;
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card">
      <img class="card-img-top center-block product-item"
           src="https://s-media-cache-ak0.pinimg.com/236x/78/b8/59/78b859d25bc129b07ad0a5047ca8f0d1.jpg" alt="Bag">
      <div class="card-block">
        <h4 class="card-title">Backpack</h4>
        <p class="card-text">The best Vintage Women Men Canvas Backpack Leather Trim Bag
          Rucksack Shoulder Bag
          and more.</p>
        <a href="#/products" class="btn btn-primary">Browse</a>
      </div>
    </div>
  </div>
</div>-->

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          Quick Shop
        </div>
        <div class="card-block">
          <div class="input-group">
            <input type="text" class="form-control"
                   placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary"
                      type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
      <!-- /.card -->
      <div class="card">
        <div class="card-header">
          Categories
        </div>
        <div class="card-block">
          <div class="list-group">
            <a [routerLink]="['']" class="list-group-item">All</a>
            <a [routerLink]="['']" class="list-group-item">Backpack</a>
            <a [routerLink]="['']" class="list-group-item">Handbag</a>
            <a [routerLink]="['']" class="list-group-item">Bumpbag</a>
            <a [routerLink]="['']" class="list-group-item">Shoulder bag</a>
            <a [routerLink]="['']" class="list-group-item">Brifcase</a>
          </div>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="card">
            <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 1">
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 1</h4>
              <h4 class="card-subtitle"><span class="label label-success">$10</span></h4>
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="card">
            <img class="card-img-top img-fluid center-block product-item" src="https://s-media-cache-ak0.pinimg.com/236x/78/b8/59/78b859d25bc129b07ad0a5047ca8f0d1.jpg" alt="Bag">
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 2</h4>
              <h4 class="card-subtitle"><span class="label label-danger"><s>$20</s> &gt; $5</span></h4>
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="card">
            <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 3">
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 3</h4>
              <h4 class="card-subtitle"><span class="label label-success">$50</span></h4>
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="card">
            <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 4">
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 4</h4>
              <h4 class="card-subtitle"><span class="label label-success">$75</span></h4>
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="card">
            <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 5">
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 5</h4>
              <h4 class="card-subtitle"><span class="label label-success">$120</span></h4>
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="card">
            <img class="card-img-top img-fluid center-block product-item" src="http://placehold.it/270x171" alt="Product 6">
            <div class="card-block text-xs-center">
              <h4 class="card-title">Product 6</h4>
              <h4 class="card-subtitle"><span class="label label-success">$1500</span></h4>
              <hr>
              <div class="btn-group" role="group">
                <button class="btn btn-primary">Buy</button>
                <button class="btn btn-info">Info</button>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>

