/*.user_create_form {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 50px;
}*/

/*.user_create_input {*/
  /*margin-bottom: 25px;*/
  /*width: 200px;*/
/*}*/

input.ng-invalid {
  border: 1px solid red;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

