<div class="container">
  <div class="row">
    <div class="col-md-9">
      <hr>
      <h4>1. test logins and passwords</h4>
      <table style="width:100%">
        <tr>
          <th>№</th>
          <th>Description</th>
          <th>login</th>
          <th>password</th>
        </tr>
        <tr>
          <td>1</td>
          <td>'Administrator', 'manage baglab system.'</td>
          <td>admin@gmail</td>
          <td>admin</td>
        </tr>
        <tr>
          <td>2</td>
          <td>'Moderator', 'Have to help customer make a valid order'</td>
          <td>anna@gm</td>
          <td>mod</td>
        </tr>
        <tr>
          <td>3</td>
          <td>'Customer', 'Configure&order product.'</td>
          <td>peter86@mail</td>
          <td>customer</td>
        </tr>
        <tr>
          <td>4</td>
          <td>'Factory', 'Produce items according to orders.'</td>
          <td>manager@m</td>
          <td>passm</td>
        </tr>
        <tr>
          <td>5</td>
          <td>'Guest', 'Configure bags, view info.'</td>
          <td>-</td>
          <td>-</td>
        </tr>

      </table>
    </div>
  </div>
  <hr> <br> <br> <br>
</div>
