<div class="div_block">
<img class='bag' src="/images/2dbase/2dBase1.png">
  <img #elVarRef class='user-image' [ngStyle]="{'top' : this.conf2d.topPos + 'px', 'left' : this.conf2d.leftPos  + 'px' }"
       src="/images/2dtest1.jpg"/>
</div>

<button class="btn btn-success " typ="submit" (click)="centerF()"> save local</button>
<!-- [ngStyle]="{'top' : '-240px', 'left' : '0px' }"-->
<!--http://www.iconskid.com/images/339/school-bag-icon-256x256-png-pictures-339971.png
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREnW2A_-FFLnC88TzBMdNiM0CjygRtuKyDS7H0aYrI7rLUaHzy
-->
