<div  #container class="containerb" [ngStyle]="{'background-image' : 'url('+ matUrl  + ')', ' z-index' : 100,
'opacity' : 1, 'width' : 500+ 'px'}" >
<img class='bag' src="{{currentBag.script.imgsrc}}" >
  <img #elVarRef class='user-image' [ngStyle]="{'top' : modelConfig.config2d.topPos + 'px', 'left' : modelConfig.config2d.leftPos  + 'px' ,
  'width' : modelConfig.config2d.width + 'px', 'height' : modelConfig.config2d.height + 'px'}"
       src="{{modelConfig.image}}"/>
</div>
<div class="row" *ngIf="!viewMode">
<button class="btn btn-outline-warning " type="submit" (click)="plusWH()">+</button>
<button class="btn btn-outline-warning " type="submit" (click)="minusWH()">-</button>
<button class="btn btn-outline-success " type="submit" (click)="centerF()">center</button>
  <button class="btn btn-outline-warning " type="submit" (click)="modelConfig.image = '' ">del img</button>
<p *ngIf="currentMaterial.name" >&nbsp; mater: {{ currentMaterial.name}} &nbsp;</p>
<p *ngIf="currentBag.name" >&nbsp; bagtype: {{ currentBag.name}}&nbsp; </p>
<!--<p *ngIf="inModelName"> &nbsp; mname: {{inModelName}}&nbsp; </p>-->
</div>
<!-- [ngStyle]="{'top' : '-240px', 'left' : '0px' }"-->
<!--http://www.iconskid.com/images/339/school-bag-icon-256x256-png-pictures-339971.png
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREnW2A_-FFLnC88TzBMdNiM0CjygRtuKyDS7H0aYrI7rLUaHzy
./images/2dtest1.jpg

{{currentBag.script.imgsrc}}

-->
<!--<button class="btn btn-outline-warning " type="submit" (click)="{inModelName}='as'">-</button>-->

