<br>

<div *ngFor="let user of users" >
  {{user.idUser}} {{user.firstname}}, {{user.email}}, {{user.role.name}}
</div>
<button (click)="getUser()">Get users</button>

<button (click)="createOrder()">create Order</button>

<!--card items-->
<!--<button class="btn btn-primary dropdown-toggle" type="button"
        id="cartDropdownMenu" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
  Cart: 2 item(s) - $20.00
</button>-->
<div ngbDropdown #myDrop2="ngbDropdown">
  <button class="btn btn-outline-primary" id="dropdownMenu3" ngbDropdownToggle>Toggle</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
    <button class="dropdown-item">Action - 1</button>
    <button class="dropdown-item">Another Action</button>
    <button class="dropdown-item">Something else is here</button>
  </div>
</div>

<div ngbDropdown>
  <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>Toggle</button>
  <div class="dropdown-menu" aria-labelledby="dropdownConfig">
    <button class="dropdown-item">Action - 1</button>
    <button class="dropdown-item">Another Action</button>
    <button class="dropdown-item">Something else is here</button>
  </div>
</div>


<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
<button class="btn btn-outline-primary" id="dropdownManual" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Cart: 2 item(s) - $20.00 11 </button>
<div class="dropdown-menu" aria-labelledby="dropdownManual">
 <!-- <button class="dropdown-item">Action - 1</button>-->
  <div class="dropdown-item dropdown-menu-right" aria-labelledby="cartDropdownMenu">
    <table class="table table-bordered table-inverse">
      <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Qty</th>
        <th>Sum</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <td colspan="4" style="text-align:center">
          Total:<strong>$20.00</strong><br>
          <div class="btn-group">
            <button class="btn btn-primary">View Cart</button>
            <button class="btn btn-success">Checkout</button>
          </div>
        </td>
      </tr>
      </tfoot>
      <tbody>
      <tr>
        <td >Product 1</td>
        <td >$10</td>
        <td >x1<br><span class="delete-cart">Del</span></td>
        <td >$10.00</td>
      </tr>
      <tr>
        <td >Product 2</td>
        <td >$5.00</td>
        <td >x2<br><span class="delete-cart">Del</span></td>
        <td >$10.00</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<button class="btn btn-outline-success" (click)="$event.stopPropagation(); myDrop.open();">Open from outside</button>
<button class="btn btn-outline-danger" (click)="$event.stopPropagation(); myDrop.close();">Close from outside</button>
</div>

<!--test card-bucket Observable-->
<div>
  <button class="btn btn-outline-success" (click)="$event.stopPropagation();  sendTestDataToObservable() ">Send data to bucket Observable</button>
  <button class="btn btn-primary" (click)="$event.stopPropagation(); clearTestDataToObservable()">Clear data = > bucket Observable</button>

</div>
<div>
  <drag-drop></drag-drop>
</div>
<!--
<hr>
<div *ngFor="let model of uModels" >
  {{model.id}},  {{model.mname}},  {{model.approved}},  {{model.modelCreate}}
</div>
<button (click)=" getModelsByUserId()"> getModelsByUser Id=2</button>

<div *ngFor="let model of moderModels" >
  {{model.id}},  {{model.mname}},  {{model.approved}},  {{model.modelCreate}}
</div>
<button (click)=" getModelsList()"> getModelsList - moderator</button>
-->

<!--<button (click)=" approveModel(2, 'NEW')"> 2 -> true</button>-->


<!--
<app-user-create></app-user-create>
<br>
-->

<!--<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Anna</td>
      <td>Pitt</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
      <td>1</td>
      <td>Anna</td>
      <td>Pitt</td>
    </tr>
    </tbody>
  </table>-->

