<div class="container">
  <button class="btn btn-primary" (click)="showOrders()">ORDERS</button>
  <button class="btn btn-primary" (click)="showModels()">MODELS</button>

  <div class="row">
    <div class="col-md-12" *ngIf="!showEditOrder">
      <br>
      <h3> Models </h3>
      <div *ngIf="showModelsFilter">
        <button class="btn btn-outline-info" (click)="getModelsByApproved('0')"> NEW</button>
        <button class="btn btn-outline-success" (click)="getModelsByApproved('1')"> APPROVED</button>
        <button class="btn btn-outline-warning" (click)="getModelsByApproved('2')"> REJECTED</button>
      </div>
      <hr>
      <div class="container">
      <div class="modoverflow"> <!--list of models-->
        <table class="table table-striped">
          <thead>
          <tr>
            <td>user email</td>
            <td>model name</td>
            <td>status</td>
            <td></td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let model of uModels"
              [class.selected]="model === selectedModel">
            <td class="font-weight-bold">{{model.user.email}}</td>
            <td class="font-weight-bold">{{model.mname}}</td>
            <td class="font-weight-bold">{{model.approved}}</td>
            <td class="col-md-auto">
              <button (click)="selectModel(model)" class="btn-outline-info">Select</button>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
        <table class="table table-striped"  *ngIf="selectedModel!=null">
          <tr class="col-md-auto">
            <td class="font-weight-bold">{{selectedModel?.mname}} by {{selectedModel?.user.email}}</td>
            <td></td>
            <td>
              <button *ngIf="selectedModel?.approved==='NEW' || selectedModel?.approved==='REJECTED' ||  selectedModel?.approved==='DEFAULT'"
                      class="btn btn-success"
                      (click)=" approveModel(selectedModel,'1'); $event.stopPropagation()"> APPROVE
              </button>
            </td>
            <td>
              <button *ngIf="selectedModel?.approved==='NEW' || selectedModel?.approved==='APPROVED' ||  selectedModel?.approved==='DEFAULT'"
                      class="btn btn-warning"
                      (click)=" approveModel(selectedModel,'2'); $event.stopPropagation()"> REJECTE
              </button>
            </td>
          </tr>
        </table>
      <div class="col-md-12 " style="margin-top: 20px">
        <configurator-3d #config></configurator-3d>
      </div>
      </div>
      <hr>
    </div>

    <!--orders-->
    <div class="col-md-9" *ngIf="showEditOrder">
      <br>
      <h3> Orders</h3>
      <button class="btn btn-outline-info" (click)="getOrdersByApproved('1')"> NEW</button>
      <button class="btn btn-outline-success" (click)="getOrdersByApproved('2')"> APPROVED</button>
      <button class="btn btn-outline-warning" (click)="getOrdersByApproved('4')"> REJECTED</button>

      <div class="table-responsive,  ordverflow">
        <table class="table table-sm table-striped
 table-bordered table-cart">
          <tbody>
          <tr>
            <td>user</td>
            <td>total price</td>
            <td>Status</td>
          </tr>
          <tr *ngFor="let order of myOrders">
            <td class="font-weight-bold">{{order.userDto.email}}</td>

            <td class="font-weight-bold">{{order.sumPrice |
              currency:'USD':true:'1.2-2'}}
            </td>
            <td class="font-weight-bold">{{order.status.code}}</td>
            <td>
              <button class="btn-outline-info" (click)="showModelsInOrder(order)"> list models</button>
            </td>
            <td class="font-weight-bold">
              <button *ngIf="order.status.code==='NEW' " class="btn btn-success"
                      (click)=" approveOrder(order,'2'); $event.stopPropagation()"> APPROVE
              </button>
            </td>
            <td class="font-weight-bold">
              <button *ngIf="order.status.code==='NEW' " class="btn btn-warning"
                      (click)=" approveOrder(order,'4'); $event.stopPropagation()"> REJECTE
              </button>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>


</div>
