<div class="container">
  <button class="btn btn-primary" (click)="showOrders()">ORDERS</button>
  <button class="btn btn-primary" (click)="showModels()">MODELS</button>

  <div class="row">
    <div class="col-md-9" *ngIf="!showEditOrder">
      <br>
      <h3> Models </h3>
      <div *ngIf="showModelsFilter">
        <button class="btn btn-outline-info"    (click)="getModelsByApproved('0')" > NEW</button>
        <button class="btn btn-outline-success" (click)="getModelsByApproved('1')" > APPROVED</button>
        <button class="btn btn-outline-warning" (click)="getModelsByApproved('2')" > REJECTED</button>
      </div>
      <div *ngIf="selectedModel">
        <hr>
        <configurator [selectModelToConfig]="selectedModel" [viewMode]="true"></configurator>
      </div>
      <br>
      Select model to Aprove or Reject
      <hr>
      <table class="table table-striped">
        <tr class="col-md-auto">
          <td class="font-weight-bold">{{selectedModel?.id}}</td>
          <td class="font-weight-bold">{{selectedModel?.userId}}</td>
          <td class="font-weight-bold">{{selectedModel?.bagTypeId}}</td>
          <td class="font-weight-bold">{{selectedModel?.mname}}</td>
          <td class="font-weight-bold">{{selectedModel?.approved}}</td>
          <td></td>
          <td>
            <button *ngIf="selectedModel?.approved==='NEW' || selectedModel?.approved==='REJECTED'"
                    class="btn btn-success"
                    (click)=" approveModel(selectedModel,'1'); $event.stopPropagation()"> APPROVE
            </button>
          </td>
          <td>
            <button *ngIf="selectedModel?.approved==='NEW' || selectedModel?.approved==='APPROVED'"
                    class="btn btn-warning"
                    (click)=" approveModel(selectedModel,'2'); $event.stopPropagation()"> REJECTE
            </button>
          </td>
        </tr>
      </table>
      <hr>

      <table class="table table-striped">
        <thead>
        <tr>
          <td>id</td>
          <td>user id</td>
          <td>Bag type id</td>
          <td>model name</td>
          <td>status</td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <!--(click)="onSelect(model)"-->
        <tr *ngFor="let model of uModels"
            [class.selected]="model === selectedModel">
          <!--<th scope="row">1</th>-->
          <td class="font-weight-bold">{{model.id}}</td>
          <td class="font-weight-bold">{{model.userId}}</td>
          <td class="font-weight-bold">{{model.bagTypeId}}</td>
          <td class="font-weight-bold">{{model.mname}}</td>
          <td class="font-weight-bold">{{model.approved}}</td>
          <td class="col-md-auto">
            <button (click)="selectedModel = model" class="btn-outline-info">Select</button>
          </td>

        </tr>
        </tbody>
      </table>
    </div>

    <!--orders-->
    <div class="col-md-9" *ngIf="showEditOrder">
      <br>
      <h3> Orders</h3>
      <button class="btn btn-outline-info" (click)="getOrdersByApproved('1')"> NEW</button>
      <button class="btn btn-outline-success" (click)="getOrdersByApproved('2')"> APPROVED</button>
      <button class="btn btn-outline-warning" (click)="getOrdersByApproved('4')"> REJECTED</button>

      <div class="table-responsive">
        <table class="table table-sm table-striped
 table-bordered table-cart">
          <tbody>
          <tr>
            <td>ID</td>
            <td>Count</td>
            <td>total price</td>
            <td>Status</td>
          </tr>
          <tr *ngFor="let order of myOrders">
            <td class="font-weight-bold">{{order.idOrder}}</td>
            <td class="font-weight-bold">{{order.items?.length}}</td>
            <!--  <td>
                 <input type="number"
                        name="{{item.product.id}}" min="1"
                        [ngModel]="item.count"
                        (ngModelChange)="item.count = update($event, item)">
               </td>-->
            <td class="font-weight-bold">{{order.sumPrice |
              currency:'USD':true:'1.2-2'}}
            </td>
            <td class="font-weight-bold">{{order.status.code}}</td>
            <td>
              <button class="btn-outline-info" (click)="showModelsInOrder(order)"> list models</button>
            </td>
            <td class="font-weight-bold">
              <button *ngIf="order.status.code==='NEW' " class="btn btn-success"
                      (click)=" approveOrder(order,'2'); $event.stopPropagation()"> APPROVE
              </button>
            </td>
            <td class="font-weight-bold">
              <button *ngIf="order.status.code==='NEW' " class="btn btn-warning"
                      (click)=" approveOrder(order,'4'); $event.stopPropagation()"> REJECTE
              </button>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
  <br><br>
  <button class="btn btn-primary" (click)="showOrders()">ORDERS</button>
  <button class="btn btn-primary" (click)="showModels()">MODELS</button>


</div>
