<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div *ngIf="orderRespListener.items?.length > 0">
        <form #form="ngForm">
          <div class="table-responsive">
            <table class="table table-sm table-striped
table-bordered table-cart">
              <tbody>
              <tr>
                <td class="font-weight-bold">Title</td>
                <td class="font-weight-bold">Price per item</td>
                <td class="font-weight-bold">Count</td>
                <td class="font-weight-bold">Amount</td>
              </tr>
              <tr *ngFor="let item of orderRespListener.items">
                <td>{{item.model.mname}}</td>
                <td>{{(item.price/item.count) |
                  currency:'USD':true:'1.2-2'}}
                </td>
                <td>{{item.count}}</td>
                <!--   <td>
                     <input type="number"
                            name="{{item.product.id}}" min="1"
                            [ngModel]="item.count"
                            (ngModelChange)="item.count = update($event, item)">
                   </td>-->
                <td>{{item.price |
                  currency:'USD':true:'1.2-2'}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="emty-cart" *ngIf="orderRespListener.items?.length < 1">The cart is empty!</div>

      <br>
      <br>
      <hr>
      <h3> My orders list</h3>
      <div class="table-responsive">
        <table class="table table-sm table-striped
 table-bordered table-cart">
          <tbody>
          <tr>
            <td class="font-weight-bold">ID</td>
            <td class="font-weight-bold">Status</td>
            <td class="font-weight-bold">Count</td>
            <td class="font-weight-bold">total price</td>
          </tr>
          <tr *ngFor="let order of myOrders">
            <td>{{order.idOrder}}</td>
            <td>{{order.status.code}}</td>
            <td>{{order.items?.length}}</td>
            <!--  <td>
                 <input type="number"
                        name="{{item.product.id}}" min="1"
                        [ngModel]="item.count"
                        (ngModelChange)="item.count = update($event, item)">
               </td>-->
            <td>{{order.sumPrice |
              currency:'USD':true:'1.2-2'}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <!--TEMP-->
    <div class="col-md-3">
      <div class="card">
        <div class="card-block">
          <form>
            <div class="form-group row">
              <label class="col-3 form-control-label">Total</label>
              <div class="col-9">
                <h4 class="form-control-static float-right">{{orderRespListener.sumPrice |
                  currency:'USD':true:'1.2-2'}}</h4>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <a *ngIf="orderRespListener.items?.length > 0" (click)="putOrder()" class="btn btn-primary btn-block">Checkout</a>
                <!--[routerLink]="['/checkout']"-->
                <a class="btn btn-secondary btn-block" [routerLink]="['/products']">Continue Shopping</a>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <button class="btn btn-danger btn-block" (click)="clearCart()">Clear Cart</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
