<h1>Orders</h1>

<table class="table table-sm table-striped
       table-bordered ">
  <thead>
  <tr>
    <th >id</th>
    <th>user id</th>
    <th>Bag type id</th>
    <th>model name</th>
    <th>status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let model of uModels"
      [class.selected]="model === selectedModel" (click)="selectedModel = model">
    <!--<th scope="row">1</th>--> <!--(click)="onSelect(model)"-->
    <td>{{model.id}}</td>
    <td>{{model.userId}}</td>
    <td>{{model.bagTypeId}}</td>
    <td>{{model.mname}}</td>
    <td>{{model.approved}}</td>
    <td>

      <button (click)="selectedModel = model">Select</button>
    </td>
    <td>
      <button *ngIf="model.approved==='NEW' " class="btn btn-danger"
              (click)=" deleteModel(model); $event.stopPropagation()"> del
      </button>
    </td>
    <!--quantity-->
    <td style="width:5%">
      <input #newItem (keyup.enter)="addModelToBucket(newItem.value, model);  newItem.value=''"
             type="number" min="1"/>
    </td>

    <td>
      <button class="btn btn-success" (click)="addModelToBucket(newItem.value, model);  newItem.value=''">To bucket</button>
    <td>
  </tr>

  </tbody>
</table>
<hr>
<configurator [selectModelToConfig]="selectedModel" [viewMode]="true"></configurator>

<div *ngFor="let model of moderModels">
  {{model.id}}, {{model.mname}}, {{model.approved}}, {{model.modelCreate}}
</div>


<!--<button class="btn btn-success" (click)=" createModel()"> create test model</button>-->
<!--<button (click)=" getModelsList()"> getModelsList - moderator</button>-->
