
.containerb{
  position: relative;
  overflow: hidden;
  width: auto;
  width: 500px;
  height: 500px;
}

.bag{
  background-attachment: fixed;
  position: relative;
  width: 500px;
  height: 500px;
  z-index: 100;
  pointer-events: none;
  overflow: hidden;
}

.user-image{
  background-attachment: fixed;
  position: absolute;
  cursor: move;
  z-index: 10;
  display: block;
  pointer-events: none;
  overflow: hidden;
}
/*
background-attachment: fixed;
  width: 500px;
  height: 500px;
*/
