
<form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Enter first name:</label>
    <input formControlName="firstName" type="text" placeholder="Your firstName">
  </div>
  <div>
    <label>Enter last name:</label>
    <input formControlName="lastName" type="text" placeholder="Your lastName">
  </div>
  <div>
    <label>Enter     email:</label>
    <input formControlName="email" type="text" placeholder="Your email">
  </div>
  <div>
    <label>Enter password:</label>
    <input formControlName="password" type="password" placeholder="Your password">
  </div>
  <button type="submit">submit</button>
</form>


<!--<label>Enter first name:</label>
<input class="user_create_input" type="text" [(ngModel)]="firstName">
<label>Enter last name:</label>
<input class="user_create_input" type="text" [(ngModel)]="lastName">
<label>Enter login:</label>
<input class="user_create_input" type="text" [(ngModel)]="login">
<label>Enter email:</label>
<input class="user_create_input" type="email" [(ngModel)]="email">
<label>Enter password:</label>
<input class="user_create_input" type="password" [(ngModel)]="password1">
<label>Rewrite password:</label>
<input class="user_create_input" type="password" [(ngModel)]="password2">-->
