.user_create_form {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.user_create_input {
  margin-bottom: 25px;
  width: 200px;
}
