<div class="container col-lg-12">
  <button class="btn btn-primary" (click)="showOrders()">ORDERS</button>
  <button class="btn btn-primary" (click)="showModels()">MODELS</button>

  <div class="container col-lg-12">
    <div class="row">
      <div class="col-md-12" *ngIf="!showEditOrder">
        <h3> Factory models </h3>
        <div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>model id</th>
              <th>model name</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let model of uModels"
                [class.selected]="model === selectedModel">
              <td>{{model.id}}</td>
              <td>{{model.mname}}</td>
              <td>
                <button (click)="selectModel(model)" class="btn-outline-info">view model</button>
              </td>

              <td>
                <button class="btn-outline-success"> download model</button>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="col-md-12" *ngIf="showEditOrder">
        <br>
        <h3>Factory Orders</h3>
        <br>
        <button class="btn btn-outline-success" (click)="getOrdersByStatus('2')"> INCOME</button>
        <button class="btn btn-outline-warning" (click)="getOrdersByStatus('5')"> SHIPPED</button>

        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
            <tr>
              <td class="font-weight-bold">ID</td>

              <td class="font-weight-bold">Status</td>
            </tr>
            <tr *ngFor="let order of myOrders">
              <td>{{order.idOrder}}</td>
              <td>{{order.status.code}}</td>
              <td>
                <button *ngIf="order.status.code==='ACCEPTED' " class="btn btn-warning"
                        (click)=" approveOrder(order,'5'); $event.stopPropagation()"> Send order
                </button>
              </td>
              <td>
                <button class="btn-outline-info" (click)="showModelsInOrder(order)"> view</button>
              </td>

              <td>
                <button class="btn-outline-success"> download order</button>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="container-fluid col-lg-12">
        <div class="col-lg-4 d-inline-block">
          <configurator-3d #config></configurator-3d>
        </div>
        <!--*ngIf="selectedModel!=null"-->
        <div class="col-lg-4 d-inline-block" *ngIf="selectedModel!=null">

          <table class="table table-striped">
            <tr class="col-md-auto">
              <td class="col-md-auto">type</td>
              <!--*ngFor="let panel of selectedConfig.panels"-->
              <td class="col-md-auto">//todo show some data</td>
            </tr>
            <tr class="col-md-auto">
              <td class="col-md-auto">//todo receivebagtype</td>
              <td>
              <td class="col-md-auto">{{selectedModel.config}}</td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="showOrders()">ORDERS</button>
  <button class="btn btn-primary" (click)="showModels()">MODELS</button>
</div>
