<div class="container col-lg-12">
  <button class="btn btn-primary" (click)="showOrders()">ORDERS</button>
  <button class="btn btn-primary" (click)="showModels()">MODELS</button>

  <div class="container col-lg-12, modoverflow">
    <div class="row">
      <div class="col-md-12" *ngIf="!showEditOrder">

        <h3 *ngIf="!selectedOrd"> Factory models </h3>
        <h3 *ngIf="selectedOrd"> Models in  order id # {{selectedOrd.idOrder}}  </h3>
        <div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>model id</th>
              <th>model name</th>
              <th></th>
            </tr>
            </thead>
            <tbody *ngIf="!selectedOrd"> <!--table for common models-->
            <tr *ngFor="let model of uModels"
                [class.selected]="model === selectedModel">
              <td>{{model.id}}</td>
              <td>{{model.mname}}</td>
              <td>
                <button (click)="selectModel(model)" class="btn-outline-info">view model</button>
              </td>
              <td>
                <button class="btn-outline-success"> download model</button>
              </td>
            </tr>
            </tbody> <!--table for models in order-->

            <tbody *ngIf="selectedOrd"> <!--table for common models-->
            <tr *ngFor="let item of selectedItems"
                [class.selected]="item.model === selectedModel">
              <td>{{item.model.id}}</td>
              <td>{{item.model.mname}}</td>
              <td>
                <button (click)="selectModel(item.model, item)" class="btn-outline-info">view model</button>
              </td>
              <td>
                <button class="btn-outline-success"> download model</button>
              </td>
            </tr>
            </tbody>

          </table>

        </div>
        <div class="container-fluid col-lg-12">

          <div class="col-lg-6 d-inline-block">
            <configurator-3d #config></configurator-3d>
          </div>
          <!--*ngIf="selectedModel!=null"-->
          <div class="col-lg-4 d-inline-block" *ngIf="selectedModel!=null">
            <!--&& selectedOrd.idOrder!= 0 &&
            selectedOrd.items?.length > 0-->
            <table class="table table-striped">
              <tr class="col-md-auto">
                <td class="col-md-auto">Model name</td>
                <td class="col-md-auto">{{selectedModel.mname}}</td>
              </tr>
              <tr class="col-md-auto" *ngIf="selectedItem?.count">
                <td class="col-md-auto">Bags quantity</td>
                <td class="col-md-auto">{{selectedItem.count}}</td>
              </tr>
              <tr class="col-md-auto" *ngFor="let panel of modelConfigView?.config3d.panels">
                <td class="col-md-auto">panel: {{panel.name}}</td>
                <td class="col-md-auto">{{panel.material.name}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>


      <div class="col-md-12" *ngIf="showEditOrder">
        <br>
        <h3>Factory Orders</h3>

        <button class="btn btn-outline-success" (click)="getOrdersByStatus('2')"> INCOME</button>
        <button class="btn btn-outline-warning" (click)="getOrdersByStatus('5')"> SHIPPED</button>

        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
            <tr>
              <td class="font-weight-bold">ID</td>
              <td class="font-weight-bold">Status</td>
              <td class="font-weight-bold">count</td>
            </tr>
            <tr *ngFor="let order of myOrders">
              <td>{{order.idOrder}}</td>
              <td>{{order.status.code}}</td>
              <td>{{order.items?.length}}</td>
              <td>
                <button *ngIf="order.status.code==='ACCEPTED' " class="btn btn-warning"
                        (click)=" approveOrder(order,'5'); $event.stopPropagation()"> Send order
                </button>
              </td>
              <td>
                <button class="btn-outline-info" (click)="showModelsInOrder(order)"> view</button>
              </td>
              <td>
                <button class="btn-outline-success"> download order</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>
<br>

  <br>
  <!--<button class="btn btn-primary" (click)="showOrders()">ORDERS</button>-->
  <!--<button class="btn btn-primary" (click)="showModels()">MODELS</button>-->
</div>
