@media screen and (min-width: 1000px) and (max-width: 1200px) {
  #canvas_cont {
    position: absolute;
    width: 600px;
    height: 400px;
    bottom: -350px;
    pointer-events: none;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  #main_canvas_container {
    position: absolute;
    width: 600px;
    height: 400px;
    bottom: -350px;
    pointer-events: none;
  }
}

div#wrapper_container {
    position: relative;
}

div#canvas_elem{
  position:  inherit;
}

@media screen and (max-width: 1000px) {
    #canvas_cont {
        width: 100vw;
        height: 100vw;
        bottom: 0;
    }
}

div#run_button.ru,
div#run_button.en {
    /*width: 236px;*/
    /*height: 60px;*/
    /*margin: 0 auto;*/
    cursor: pointer;
    background-color: #4CAF50;
    border-radius: 8px;
    text-align: center;
    /*background-image: url(interface/button.png);*/
    /*background-size: 472px 120px;*/
}

div#run_button.en {
    background-position: -236px 0;
}

div#run_button.ru:hover {
    background-position: 0 -60px;
}

div#run_button.en:hover {
    background-position: -236px -60px;
}
