


<!--  <button class="navbar-toggle hidden-sm-up"
          type="button" data-toggle="collapse"
          data-target="#exCollapsingNavbar">&#9776;
  </button>-->
  <!--<div class="collapse navbar-toggleble-xs"
       id="exCollapsingNavbar">-->
<!--
    <nav class="navbar navbar-light bg-faded" > &lt;!&ndash;style="float:inherit;"&ndash;&gt;
      <ul class="nav navbar-nav ">
        <li *ngFor="let url of urls"><a class="navbar-brand" [routerLink]="[url.url]">{{url.value}}</a></li>
      </ul>
    </nav>-->

 <!-- </div>-->


  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggleable" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
      &#9776;
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse" id="navbarToggleExternalContent" style="text-align: center; margin: auto; font-size:1.1rem; padding-top: 10px; padding-bottom: 10px;">
      <ul class="nav navbar-nav">
          <li class="nav-item" *ngFor="let url of urls" style="margin-right: 10px; margin-left: 10px;"><a class="nav-link" [routerLink]="[url.url]">{{url.value}}</a></li>
      </ul>
    </div>
  </nav>



<!--
<ul>
  <li *ngFor="let url of urls"><a [routerLink]="[url.url]">{{url.value}}</a></li>
</ul>
-->

