<button class="btn btn-sm btn-outline-primary" (click)="changeType(configuratorType)">2-D / 3-D</button>

<div id="wrapper_container" class="col-lg-10" style="border: solid black 1px">
  <configurator-3d #config *ngIf="configuratorType == 3"></configurator-3d>
  <configurator-2d #config *ngIf="configuratorType == 2"></configurator-2d>

  <div id="customizer">

    <button class="btn btn-danger btn-outline-danger " (click)='configurator.resetModel()'>reset</button>
    <button class="btn btn-success btn-outline-success " (click)='configurator.save(configurator.getModelConfig())'>save</button>
<div id="inputModelData" class="row">
  <div ngbDropdown #myDrop3="ngbDropdown">
    <button class="btn btn-outline-info" id="dropdownMenu3" ngbDropdownToggle>bag type:</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
      <button class="btn btn-info btn-outline-info " *ngFor="let bagtype of begtypes" (click)="configurator.selectBagType(bagtype)" >{{bagtype.name}}</button>
    </div>
  </div>
    <div ngbDropdown #myDrop2="ngbDropdown">
      <button class="btn btn-outline-info" id="dropdownMenu2" ngbDropdownToggle>materials:</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="btn btn-info btn-outline-info " *ngFor="let material of materials" (click)="configurator.selectMaterial(material)"> {{material.name}} </button>
      </div>
    </div>
    <br>
</div>
    <!--<div>-->
    <!--<li *ngFor="let item of restService.getData('/api/material/list')">{{item}}</li>-->
    <!--</div>-->
    <image-upload [url]="'./api/user/upload/' + this.userRoleService.getUserId()" [preview]="false"
                  (onFileUploadFinish)="configurator.imageUploaded($event)"></image-upload>
    <!--(onFileUploadFinish)="imageUploaded($event)"-->
  </div>
</div>


