<button (click)="getBag()">Get bag</button>

<div id="wrapper_container" class="col-lg-10" style="border: solid black 1px">
  <div id="canvas_cont" STYLE="width: 1000px"></div>
  <button id="configure_new_bag_button" (click)="showCustomizer()">configure new bag</button>
  <div id="customizer" hidden>
    <image-upload (onFileUploadFinish)="imageUploaded($event)"></image-upload>
    <button (click)='ci(1)'>ci1</button>
    <button (click)='ci(2)'>ci2</button>
    <button (click)='resetImgColor()'>reset</button>
    <button (click)='save(modelConfig)'>save</button>
    <button (click)="changeColor()">Change color</button>
    <button id="hide_palette_button" (click)="hidePalette()" hidden>hide</button>

    <div id="palette" hidden>
      <div class="col-lg-1" style="background-color: rgb(160,82,45); height: 20px; width: 20px;"
           (click)="setColor(160,82,45)"></div>
      <div class="col-lg-1" style="background-color: rgb(205,92,92); height: 20px; width: 20px;"
           (click)="setColor(205,92,92)"></div>
      <div class="col-lg-1" style="background-color: rgb(0.5,0.5,0.5); height: 20px; width: 20px;"
           (click)="setColor(0.5,0.5,0.5)"></div>
      <div class="col-lg-1" style="background-color: rgb(255,69,0); height: 20px; width: 20px;"
           (click)="setColor(255,69,0)"></div>
      <div class="col-lg-1" style="background-color: rgb(220,20,60); height: 20px; width: 20px;"
           (click)="setColor(220,20,60)"></div>
      <div class="col-lg-1" style="background-color: rgb(255,140,0); height: 20px; width: 20px;"
           (click)="setColor(255,140,0)"></div>
      <div class="col-lg-1" style="background-color: rgb(199,21,133); height: 20px; width: 20px;"
           (click)="setColor(199,21,133)"></div>
    </div>
  </div>
</div>


